.arccodion{
    margin: 0;
    padding: 20px;
    background-color: #282c34;
    color: white;

    #title{
        cursor: pointer;
    }    
}


.show{
    display: block;
}

.hide{
    display: none;
}